{% extends "homepage.html" %}

{% block title %}
    Enter Time
{% endblock %}

{% block main %}
    <h1>Input the time you are interested in:</h1>
        <h2>
            <form action="/inputtime" method="post">
                <div class="form-group">
                    Time: <select name="Hour">
                        <option disabled selected value="">Hour</option>
                        {% for hour in valid_hours%}
                        <option value = "{{hour}}">
                            {{hour}}
                        </option>
                        {% endfor %}
                    </select>
                    : <select name="Minute">
                        <option disabled selected value="">Minute</option>
                        {% for minute in valid_minutes%}
                        <option value = "{{minute}}">
                            {{minute}}
                        </option>
                        {% endfor %}
                    </select>
                        <select name="Meridia">
                        <option disabled selected value="">AM/PM</option>
                        <option value = "AM">
                            AM
                        </option>
                        <option value = "PM">
                            PM
                        </option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </h2>


{% endblock %}