{% extends "homepage.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
    {% if session.user_id %}
        <h1> Welcome {{ username }}!</h1>
                <h3>It is {{day}}, {{time}}</h3>
            <h2>
                The Following Dining Halls are currently open for you:<br>
                {% for house in houses %}
                <h3>{{house}}</h3><br>
                {% endfor %}
            </h2>
    {% else %}
        <h1> Welcome to Mönch!</h1>
                <h3>It is {{day}}, {{time}}</h3>
            <h2>
                The Following Dining Halls are currently open:<br>
                {% for house in houses %}
                <h3>{{house}}</h3><br>
                {% endfor %}
                <h2>Log in to see your restrictions.</h2>
            </h2>
    {% endif %}

{% endblock %}